services:
  mongo:
    image: mongo:6.0
    container_name: booksy-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: booksydb

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: booksy-backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/booksydb
      - PORT=5000
      - JWT_SECRET=supersecretkey

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: booksy-frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo-data:
