.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f') no-repeat center center/cover;
}

.login-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background: #f5f5f5;
}

.login-btn {
  background-color: #63ff75;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #574bff;
}

.switch-text {
  margin-top: 15px;
  font-size: 0.9rem;
}

.switch-text a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: 500;
}
