.navbar {
  background: #5d4037;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Georgia", serif;
}

.nav-links a {
  margin: 0 15px;
  color: #fbe9e7;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ffccbc;
}

.logout-btn {
  background: #8d6e63;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
